*/application/logs/log-*.php
*/application/logs/!index.html
*/application/cache/*
*/application/cache/!index.html
*/uploads/original/*
*/uploads/original/!index.html
*/uploads/thumbs/jempe/*
*/uploads/thumbs/jempe/!index.html
*/uploads/thumbs/temp/*
*/uploads/thumbs/temp/!index.html
*/uploads/thumbs/*
*/uploads/thumbs/!jempe
*/uploads/thumbs/!temp
*~
